.headContainer {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.headContainer img {
    width: 200px;
    height: 70px;
    padding: 4px 15px;
    padding-left: 3%;
}


.searchBar {
    width: 60%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.05);
    margin: 2px 6px;
}

.searchIcon {
    margin-left: 10px;
    font-size: 18px;
    color: #888;
}

.searchIcon:hover {
    cursor: pointer;
}

.searchInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    color: #333;
}

.searchInput::placeholder {
    color: #aaa;
    font-weight: 300;
}

.btnClear {
    background: #eee;
    border: none;
    padding: 6px 9px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btnClear:hover {
    background: #ddd;
}

@media (max-width: 625px) {

    .headContainer img {
        height: 60px;
        width: 180px;
    }

    .searchBar {
        width: 100%;
    }

    .btnClear {
        padding: 6px 10px;
        margin-right: 0px;
        font-size: 14px;
    }

    .searchInput {
        font-size: 12px;
    }

    .searchIcon {
        font-size: 16px;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .headContainer img {
        height: 30px;
        width: 120px;
    }

    .searchBar {
        padding: 4px 4px;
    }

    .btnClear {
        padding: 2px 4px;
        margin-right: 0px;
        font-size: 12px;
    }

    .searchInput {
        font-size: 12px;
        padding: 0;
    }

    .searchInput::placeholder {
        color: #aaa;
        font-weight: normal;
    }

    .searchIcon {
        font-size: 12px;
    }
}

@media (max-width: 400px) {}

@media (max-width: 375px) {

    .headContainer img {
        height: 25px;
        width: 80px;
    }

    .searchBar {
        margin: 2px 2px;
    }
}