body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  max-width: 1440px;
  overflow-x: hidden;
}

.impressum {
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: #FD5B4F;
  padding: 3px;
}


main {
  flex: 1;
  background-color: rgba(153, 255, 250, 0.35);
  color: #3498db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.pad-8 {
  padding: 10px;
}

.dNone {
  display: none;
}

.pokemon-load-btn {
  background: linear-gradient(45deg, #ffcb05, #3b4cca);
  color: white;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pokemon-load-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.pokemon-load-btn:active {
  transform: scale(0.95);
}