body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
}

.impressum {
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: #FD5B4F;
  padding: 3px;
}

/* .impTitle {
  font-size: 18px;
  font-weight: bold;
  padding-top: 40px;
  letter-spacing: 1px;
}


.head_container {
  display: flex;
  background-color: #032B35;
}

.head_container img {
  height: 60px;
  padding: 15px;
  padding-left: 3%;
} */

.myLogo img {
  height: 120px;
  object-fit: cover;
}

.myWeb {
  background-color: #09161d;
  text-align: center;
}

main {
  flex: 1;
  background-color: rgba(153, 255, 250, 0.35);
  color: #3498db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}


.pokemon-card {
  padding: 1rem;
  margin: 2rem auto;
  width: 300px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
}

.bg-fire {
  background-color: #f08030;
}

.bg-water {
  background-color: #6890f0;
}

.bg-grass {
  background-color: #78c850;
}

.bg-electric {
  background-color: #f8d030;
}

.bg-normal {
  background-color: #a8a878;
}

.bg-bug {
  background-color: #a8b820;
}

.bg-default {
  background-color: #444;
}

.dNone {
  display: none;
}
.pokemon-load-btn {
  background: linear-gradient(45deg, #ffcb05, #3b4cca);
  color: white;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pokemon-load-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.pokemon-load-btn:active {
  transform: scale(0.95);
}
