.cardFace {
  background-color: #FFD700;
  border-radius: 12px;
  width: 250px;
  /* height: auto; */
}
.cardFace > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}


.imgPeck {
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  transition: 125ms;
}

.cardFaceInfo {
  font-weight: bold;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}

.cardFace:hover {
  cursor: pointer;
  transform: scale(0.95);
  /* transform: scale(0.96); */
}

/*  */
.bgBug {
  background-color: #8B4513;
}

.bgWater {
  background-color: #6890F0;
}

.bgFire {
  background-color: #ff1515;
}

.bgGrass {
  background-color: #78C850;
}

.bgNormal {
  background-color: #9a9a95;
}

.bgDefault {
  background-color: #CCC;
}

.spnType {
  border-radius: 6px;
  padding: 0 6px 4px 6px;
  color: white;
}