.tabNavigation {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  margin: 10px;
}

.tab {
  cursor: pointer;
  padding: 6px 10px;
  color: #666;
}

.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #d80000;
}

.stat {
  margin-bottom: 10px;
}

.stat label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  padding-left: 4px;
}

.bar {
  width: 100%;
  background-color: #b5bcbd;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.bar .fill {
  height: 100%;
  background: linear-gradient(90deg, #ff6b6b, #d80000);
  width: 0%;
  transition: width 0.175s ease-in-out;
}

.stat .value {
  font-size: 12px;
  color: #333;
  float: right;
  margin-top: 2px;
}


.PreviewContainer {
  display: flex;
  width: 100%;
  height: auto;
  gap: 40px;
  padding: 10px;
  background-color: #f0f0f0;
  color: #FD5B4F;

}



.box_privew {
  border: 0px;
  border-radius: 25px;
  width: 90%;
  height: 65%;
  display: flex;
  padding: 0;
}

.previewImg {
  width: 80%;
  height: auto;

}



.MainCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;


}

.divFullInfo {
  flex-grow: 1;
  overflow: auto;
}



@media (max-width: 675px) {
  .PreviewContainer {
    gap: 0px;
    padding-top: 0px;
    flex-direction: column;
    padding: 0;
  }

  .galleryContainer {
    gap: 15px;
    padding: 10px;
  }

  .box_privew {

    width: 80%;
    height: auto;
  }

  .PreviewContainer>div:first-child {
    display: flex;
    width: 328px;
    height: 256px;
    margin-bottom: -50px;
    align-self: center;
    justify-content: center;
  }

  .previewImg {
    display: flex;
    align-self: center;
    z-index: 0;
  }

  .MainCard {
    width: 100%;
    background-color: #ff6b6b4a;
    border-radius: 25px;
    padding-bottom: 12px;
  }
}

@media (max-width: 625px) {
  .PreviewContainer>div:first-child {
    width: 300px;
    height: 256px;
  }

  .MainCard {
    margin-top: 3%;
    bottom: 0;
  }

  .tab {
    font-size: 16px;
  }

}



@media (max-width: 500px) {
  .PreviewContainer>div:first-child {
    width: 280px;
  }

  .MainCard {
    margin-top: 6%;
    bottom: 0;
  }

  .pad-8 {
    font-size: 16px;

  }
}

@media (max-width: 400px) {
  .MainCard {
    margin-top: 6%;
    bottom: 0;
  }


}

@media (max-width: 350px) {
  .MainCard {
    margin-top: 9%;
    bottom: 0;
  }

  .PreviewContainer>div:first-child {
    width: 250px;
  }
}

.btn_pfail {
  background-color: #032B35;
  text-align: center;
  color: #FD5B4F;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 100%;
  border: 2px solid;
  user-select: none;
}



.divNavig {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.center {
  align-self: center;
  background-color: #032B35;
  text-align: center;
  color: #FD5B4F;
  font-size: 22px;
  font-weight: bolder;
  border: 1.8px solid;
  border-radius: 25px;
}



/* .PreviewContainer */