/* .cardBackTest {
  background-color: rgb(174, 223, 219);
  width: 400px;
} */


/* .card-back {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
} */

/* .pokemon-image {
  text-align: center;
  margin-bottom: 10px;
} */

/* .pokemon-image img {
  width: 80px;
  height: auto;
} */

.tabNavigation {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  padding: 6px 10px;
  color: #666;
}

.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #d80000;
}

.stat {
  margin-bottom: 10px;
}

.stat label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  padding-left: 4px;
}

.bar {
  width: 100%;
  background-color: #b5bcbd;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.bar .fill {
  height: 100%;
  background: linear-gradient(90deg, #ff6b6b, #d80000);
  width: 0%;
  transition: width 0.175s ease-in-out;
}

.stat .value {
  font-size: 12px;
  color: #333;
  float: right;
  margin-top: 2px;
}


.PreviewContainer {
  display: flex;
  width: 100%;
  height: auto;
  gap: 40px;
  padding: 10px 10px;
  background-color: #f0f0f0;
}

.previewImg {
  width: 100%;
  height: auto;
}


.previewNavi {
  height: 30px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainCard {
  display: flex;
  flex-direction: column;
  /* ترتيب عمودي */
  height: 100%;
  width: 50%;

}

/* ديف المعلومات ياخذ كل المساحة المتبقية */
.divFullInfo {
  flex-grow: 1;
  /* ياخذ كل المساحة المتاحة */
  overflow: auto;
  /* لو المحتوى أكثر من الارتفاع يسمح بالتمرير */
}

/* ديف التنقل ارتفاعه ثابت */
.divNavig {
  height: 30px;
  /* flex-shrink: 0;  */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* w3s
#myProgress {
  width: 100%;
  background-color: #ddd;
}

.myBar {
  width: 1%;
  height: 10px;
  background: linear-gradient(90deg, #a8e063, #56ab2f);
  animation: grow 1s ease-in-out forwards;
} */