/* dialog 5 start */

#dialog5:open::backdrop {
  animation: backdrop-fade-in 75ms ease-out forwards;
}



@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: #fd5b4f3c;
  }
}

/* dialog 5 end */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlayContent {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  animation: fadeIn 1s ease;
  z-index: 99999;

}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #FD5B4F;
  border-radius: 50%;
  margin: 0 auto 20px;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.lock-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.lock-spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;

}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}






@media (max-width: 500px) {
  .pokemon-load-btn {
    padding: 12px 12px;

    font-size: 14px;
  }
}